<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Animals
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only color="royal" (click)="back()">
        <ion-icon name="arrow-round-back"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-grid *ngIf="pets.length > 0">
    <ion-row class="row-title">
      <ion-col width-33>animal</ion-col>
      <ion-col width-33>name</ion-col>
    </ion-row>
    <ion-row *ngFor="let pet of pets">
      <ion-col width-33 class="table-center">{{pet.animal}}</ion-col>
      <ion-col width-33 class="table-center">{{pet.name}}</ion-col>
      <ion-col width-33>
        <a (click)="setFree(pet.id)">Set free</a>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div *ngIf="pets.length == 0"> There are not pets </div>

</ion-content>
