<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Adopt a Pet
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-grid *ngIf="people.length > 0">
    <ion-row class="row-title">
      <ion-col width-25>name</ion-col>
      <ion-col width-25>surname</ion-col>
    </ion-row>
    <ion-row *ngFor="let person of people">
      <ion-col width-25>{{person.name}}</ion-col>
      <ion-col width-25>{{person.surname}}</ion-col>
      <ion-col width-25>
        <a (click)="assign(person.id)">Adopt pet</a>
      </ion-col>
      <ion-col width-25>
        <a (click)="consultPets(person.id)">My pets</a>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div *ngIf="people.length == 0"> There is not people </div>
</ion-content>
