<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Animals
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only color="royal" (click)="create()">
        <ion-icon name="add-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-grid *ngIf="pets.length > 0">
    <ion-row class="row-title">
      <ion-col width-25>animal</ion-col>
      <ion-col width-25>name</ion-col>
    </ion-row>
    <ion-row *ngFor="let pet of pets">
      <ion-col width-25 class="table-center">{{pet.animal}}</ion-col>
      <ion-col width-25 class="table-center">{{pet.name}}</ion-col>
      <ion-col width-25 class="table-center">
        <button ion-button icon-only small color="royal" (click)="update(pet)">
          <ion-icon class="table-icons" name="create"></ion-icon>
        </button>
      </ion-col>
      <ion-col width-25 class="table-center">
        <button ion-button icon-only small color="royal" (click)="delete(pet.id)">
          <ion-icon class="table-icons "name="trash"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div *ngIf="pets.length == 0"> There is not pets </div>

</ion-content>
