page-animals {

  .table-icons{
     font-size: 15px;
  }

  .table-center{
    margin: auto;
  }

  .row-title{
    text-transform: capitalize;;
    font-weight: bold;
    border-bottom: 1px solid #8d8d8d;
  }
}
